.card-title {
    width: "100%";
    height: auto;
}

body {
    padding-top: 20px;
}

.form-group {
    margin-top: 20px;
}

.map-container-6 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-6 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.col-lg-3 {
    padding: 50px;
    transition: transform .2s;
    /* width: 200px;
    height: 200px; */
    margin: 0 auto;
}

.col-lg-3:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}